aiohttp
beautifulsoup4
bencodepy
discord.py
feedparser
openai
Pillow
moviepy
python-dotenv
requests
streamlit
youtube-transcript-api
redis
nest_asyncio
websocket-client
aioftp
irc3
pyyaml
fastapi
uvicorn
matrix-nio[aiohttp,e2e]
python-olm
markdown-it-py[plugins,linkify]
mdit-py-plugins